<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TaskMate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- 🟦 Título principal -->
  <div class="main-title">
    <h1>Bienvenido</h1>
    <p class="subtitle">Gestiona tus categorías y progreso fácilmente</p>
  </div>

  <!-- 🔍 Barra de búsqueda -->
  <div class="search-bar">
    <ion-searchbar placeholder="Buscar categoría..." [(ngModel)]="searchTerm" show-clear-button="always">
    </ion-searchbar>
  </div>

  <!-- 📊 Tarjeta resumen -->
  <ion-card class="summary-card" *ngIf="showDashboard">

    <ion-card-content class="chart-container">

      <!-- Si hay datos, muestra la gráfica -->
      <div *ngIf="chartSeries.length > 0 && categories.length > 0; else noData">
        <apx-chart [series]="chartSeries" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
          [fill]="chartOptions.fill" [stroke]="chartOptions.stroke" [legend]="chartOptions.legend"
          [colors]="chartOptions.colors" [responsive]="chartOptions.responsive">
        </apx-chart>
      </div>

      <!-- Template cuando no hay categorías -->
      <ng-template #noData>
        <ion-card-title>Crea una categoria</ion-card-title>
      </ng-template>

    </ion-card-content>
  </ion-card>



  <div class="main-title">
    <h1>Mis Categorias</h1>
  </div>

  <!-- 🟩 Grid de categorías -->
  <div class="grid">
    <div *ngFor="let cat of filteredCategories; let i = index" class="card"
      [ngStyle]="{'background-color': getCategoryColor(cat.id, i)}" (click)="openCategory(cat)">


      <span class="cat-name">{{ cat.name }}</span>

      <!-- 🔵 Barra de progreso -->
      <ion-progress-bar [value]="getCategoryProgress(cat.id)" color="success" class="progress-bar">
      </ion-progress-bar>

      <small class="progress-text">
        {{ (getCategoryProgress(cat.id) * 100) | number:'1.0-0' }}%
      </small>
    </div>

    <div *ngIf="filteredCategories.length === 0" class="empty">
      <ion-text color="medium">No hay categorías que coincidan</ion-text>
    </div>
  </div>

  <!-- ⚡ FAB flotante -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- Botón principal -->
    <ion-fab-button color="primary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>

    <!-- Lista de opciones -->
    <ion-fab-list side="top">
      <!-- 🟩 Agregar tarea -->
      <ion-fab-button color="success" (click)="goToAddTask()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-fab-button>

      <!-- 🟪 Ir a categorías -->
      <ion-fab-button color="tertiary" (click)="goToCategories()">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


</ion-content>